.footer-container {
    background: #000000;
    color: #ffffff;
    padding: 0px 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    background: linear-gradient(250deg, #CC553D 19%, #8B1805 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-section p{
    padding: 0 10px;
}

.footer-section p, .footer-section ul, .footer-section a {
    font-size: 14px;
    color: #feffff;
}

.footer-section a:hover {
    background: linear-gradient(250deg, #CC553D 19%, #8B1805 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    background: #000000;
    color: #fff;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.left-slide {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.right-slide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

