.footer-container {
    background-color: #000000;
    color: #ffffff;
    padding: 0px 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ff0000;
}

.footer-section p, .footer-section ul, .footer-section a {
    font-size: 14px;
    color: #feffff;
}

.footer-section a:hover {
    color: #b30000;
    text-decoration: none;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #000000;
    color: #fff;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.left-slide {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.right-slide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}