header {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    animation: slideDown 1s ease-out;
} 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(250deg, #CC553D 19%, #8B1805 100%);/* Dark blue color */
    padding: 0px 20px;
    color: #ffffff;
    margin-top: 4px;
}
.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-user a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-user span {
    color: #ffffff;
    padding: 0 5px;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.navbutton1 {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    padding: 10px 25px; /* Default padding for larger screens */
    position: relative;
    font-weight: 750;
    transition: padding 0.3s; /* Smooth transition for padding change */
}
.navbutton1.active {
    background: linear-gradient(250deg, #CC553D 19%, #8B1805 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}

.navbutton {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    padding: 23px 25px; /* Default padding for larger screens */
    position: relative;
    font-weight: 750;
    transition: padding 0.3s; /* Smooth transition for padding change */
}



/* For screens smaller than 992px (medium devices and smaller) */
@media (max-width: 1244px) {
    .navbutton {
        padding: 25px 10px; /* Adjust padding for medium screens */
    }
}

/* For screens smaller than 768px (small devices and smaller) */
@media (max-width: 1113px) {
    .navbutton {
        font-size: 1em;
        padding: 25px 15px; /* Adjust padding for small screens */
    }
    header .logoimg {
       
        padding-left: 5px;
       
    }
}

/* For screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
    .navbutton {
        padding: 20px 10px; /* Adjust padding for extra small screens */
    }
}


.navbutton::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(250deg, #CC553D 19%, #8B1805 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: bottom right;
}

.navbutton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbutton:hover {
    background: linear-gradient(250deg, #CC553D 19%, #8B1805 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none; /* Ensure underline is removed on hover */
}


header .logoimg {
    max-height: 40px;
    padding-left: 10px;

    transition: transform 0.3s;
}

header .logoimg:hover {
    transform: scale(1.1);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.offcanvas-body .nav-button {
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
    padding: 15px;
    font-weight: 700;
    transition: background 0.3s, color 0.3s;
}

.offcanvas-body .nav-button:hover {
    background: #f8f9fa; /* Light gray background on hover */
    background: linear-gradient(250deg, #CC553D 19%, #8B1805 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Bootstrap primary color on hover */
}
