
header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between logo and nav */
    background-color:rgba(0, 0, 0, 0.411); /* Dark background for professionalism */
    padding: 0px 20px; /* Add padding for spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: relative;
    z-index: 100;
    animation: slideDown 1s ease-out; /* Add animation */
}

header a {
    text-decoration: none;
    color: #eee; /* Light color for contrast */
    font-size: 1.1em;
    transition: color 0.3s;
}

header a:hover {
    color: #f1683a; /* Change color on hover */
}

header .logoimg {
    width: 100px;
    margin-right: 40px;
    transition: transform 0.3s; /* Smooth scaling */
}

header .logoimg:hover {
    transform: scale(1.1); /* Slight scale up on hover */
}

nav a {
    margin-right: 40px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
